# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
*.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Build artifacts
dist/
build/

# mypy
.mypy_cache/

# VSCode
.vscode/

# Local data and notebooks
data/*
notebooks/local/*
*cache/

# Logs
checkpoints/
tensorboard/
logs/
events.out.tfevents*
output/

# Virtual environments
venv/
