# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
*.DS_Store

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# VSCode
.vscode/

# Local data and notebooks
data/*
notebooks/local/*