[settings]
multi_line_output=3
include_trailing_comma=True
force_grid_wrap=0
combine_as_imports=True
line_length=88
known_first_party=metal,synthetic,tests,tutorials
known_third_party=GPUtil,dill,matplotlib,networkx,nltk,numpy,pandas,scipy,setuptools,sklearn,tensorboardX,torch,torchtext,torchvision
